<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Friend</title>
</head>
<body>

<div align="center">

    <h1>Delete Friend</h1>

    <form method="POST" th:object="${friend_delete}">
        <table>
            <tr>
                <td><label>Username</label>:</td>
                <td><input type="text" th:field="*{username2}"/></td>
            </tr>
        </table>

        <input type="submit" value="Delete Friend" />

    </form>
</div>

</body>
</html>