<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of all Posts</title>
</head>
<body>

<div align="center">

    <h1>Friends</h1>

    <div th:each="User_Web : ${friends}">
        <h2>Username: <span th:text="${User_Web.username}"/></h2>
        <div th:text="${User_Web.name}" />
        <div th:text="${User_Web.surname}" />
        <div th:text="${User_Web.phone}" />
        <div th:text="${#temporals.format(User_Web.date_birth, 'dd-MM-yyyy HH:mm')}" />
    </div>

</div>

</body>
</html>