<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Share Post</title>
</head>
<body>

<div align="center">

    <h1>Delete Share Post</h1>

    <form method="POST" th:object="${share_post_delete}">
        <table>
            <tr>
                <td><label>Post Id</label>:</td>
                <td><input type="text" th:field="*{post_id}"/></td>
            </tr>
            <tr>
                <td><label>Username</label>:</td>
                <td><input type="text" th:field="*{username}"/></td>
            </tr>
        </table>

        <input type="submit" value="Delete Share Post" />

    </form>
</div>

</body>
</html>